
.gallery-container {
    display: flex;
    flex-wrap: nowrap;
    height: 70%;
    padding: 5rem 0 5rem 0;
    justify-content: space-evenly;
  }
  
  .gallery__elem {
    display: flex;
    min-width: 30%;
    vertical-align: bottom;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-end;
  }
  
  .gallery__elem__photo {
    background-image: url(../images/fog.jpg);
    height: 100%;
    width: 100%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .gallery__elem__name{
    width: 70%;
    padding: 1rem;
    color: white;
    background-color: black;
    align-items: flex-end;  
  }