
.gallery-container {
    display: flex;
    height: 30rem;
    padding: 5rem 0 5rem 0;
    justify-content: space-evenly;
  }
    
  .gallery__photo {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    align-items: flex-end;
    justify-content: center;
    margin: auto;
    flex-grow: 1;
    flex-direction: column;
  }
  
  .gallery__name{
    width: 70%;
    padding: 1rem;
    color: white;
    background-color: black;
    align-self: flex-end;
  }