.gallery-container {
  display: flex;
  height: 30rem;
  justify-content: space-evenly;
}

.gallery__photo {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
}

.gallery__name {
  width: 70%;
  padding: 1rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .gallery-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 0;
    justify-content: space-evenly;
  }

  .gallery__photo {
    height: 30vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    margin: 1rem 0;
    flex-grow: 1;
    flex-direction: column;
    position: relative;

  }

  .gallery__name {
    width: 100%;
    bottom: 0;
  }
}