.main-container {
    display: flex;
    margin: 0 10vw 0 10vw;
    min-height: 95vh;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    align-content: space-between;
    flex: 1;
    box-sizing: border-box;
  }
  
  .main-container__header {
    justify-content: flex-start;
    text-align: start;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 5rem;
    margin-top: 1rem;
    font-weight: 900 !important;
      text-transform: uppercase !important;
      letter-spacing: 1.5px !important;
  }
  
  .main-container__inner-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.main-container__column {
  display: flex;
  flex-direction: column;
  width: 35vw;
  justify-content: start;
  align-items: start;
}

@media only screen and (max-width: 768px) {
  .main-container {
    display: flex;
    padding: 1rem 0;
    margin: 0;
    min-height: 0;
    width: 100%;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    align-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #E1E0E1;

  }
  .main-container__header {
    justify-content: flex-start;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-top: 0;
    font-weight: 900 !important;
      text-transform: uppercase !important;
      letter-spacing: 1.5px !important;
  }
  .main-container__inner-wrap{
    flex-direction: column-reverse;
    justify-content: space-between;
  }  
  .main-container__column {
    width: 100%;
    justify-content: start;
    align-items: start;
    margin: 0;
  }

}