.navbar-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 0.7rem;
    font-weight: 900 !important;
    text-transform: uppercase !important;
    letter-spacing: 0.2em !important;
    font-family: 'Prata', serif !important;
    height: 5rem;
    align-items: center;
  }

.navbar-menu__text {
    color: #6E6E6E;
    text-decoration: none;
    justify-content: center;
  }
  
  .navbar-menu__text:hover {
    color: #6E6E6E;
    text-decoration: none;
  }


.navbar-menu__element {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
  }
  
  .navbar-menu__element:hover {
    padding: 1rem;
    border-bottom: 3px solid;     
  }

.logo{
margin-right: 5rem;
margin-left: 20rem;
    }

@media only screen and (max-width: 768px) {
  .navbar-menu {
    font-size: 0.5rem;
  }
}