.social-media-container {
  flex-direction: row;
  width: 6rem;
  justify-content: space-between;
  margin: 1rem 0;
}

.social-media {
  width: 2rem;
  opacity: 0.6;
  }

.social-media:hover {
  opacity: 1;
  }


@media only screen and (max-width: 768px) {
  .social-media {
    width: 1rem;
    margin: 0;
    }
  }