.work-with-me-container {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 70%;
    text-align: center; 
    margin: auto;
    justify-content: center;
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Prata', serif;
  }
  
  .work-with-me__header {
    font-weight: 900 !important;
    text-transform: uppercase !important;
    letter-spacing: 1.5px !important;
    padding: 1rem;
    line-height: 1.5rem;
  }
  
  .work-with-me__paragraph {
    padding: 1rem;
  }

  @media only screen and (max-width: 600px) {
    .navbar-menu {
      font-size: 0.5rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .work-with-me-container {
      width: 100%;
      padding-top: 1rem;
    padding-bottom: 1rem;
    }
  }