.contact-page_my-contacts {
  text-align: left;
  margin: 0 0 5rem 0;
}

.contact-page_my-contacts > p {
  margin-top: 0;
  margin-bottom: 1rem;
}
  
.contact-form {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
}

.contact-form__form {
  display: flex;
  flex-direction: column;
}

.contact-form__form > *  {
  box-shadow: none;
  height: 2rem;
  margin-bottom: 1rem;
  border-radius: 2px;
  padding-left: 0.5rem;
}

.contact-form__message {
  border-radius: 1px;
  margin-bottom: 1rem;
  height: 6rem;
}

.map {
  width: 30rem;
  height: 30rem;
  border: none;
}


@media only screen and (max-width: 600px) {
  .contact-page_my-contacts {
    text-align: left;
    margin: 0;
  }
  .map {
    margin: 1rem 0 1rem 0;
    height: 20rem;
  }
  .contact-page_my-contacts > p {
    margin: 0;
  }
}