.services-container_header {
  margin-bottom: 2rem;
}

.services-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5rem;
}

.services-list_column {
  display: flex;
  flex-direction: column;
}

.service__image {
  display: flex;
  width: 20rem;
  height: 12rem;
}

.service__header {
  display: flex;
  margin: 1rem;
}

.service__header>h1 {
  width: 10rem;
  margin: 0 1rem;
  justify-content: flex-start;
  font-weight: 900 !important;
  text-transform: uppercase !important;
  letter-spacing: 1.5px !important;
  font-family: 'Prata', serif !important;
}

@media only screen and (max-width: 768px) {
  .services-container_header {
    font-size: 0.8rem;
  }

  .services-container {
    width: 100%;
    font-size: 0.7rem;
    text-align: justify;
    justify-content: center;
  }

  .services-list {
    flex-direction: column;
  }

  .service__header {
    font-size: 0.7rem;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    line-height: 1rem;
  }
}