.services-container_header {
    margin-bottom: 2rem;
  }
  
  .services-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  
  .services-list_column {
    display: flex;
    flex-direction: column;
  }
  
  .service__header {
    display: flex;
    padding: 0.5rem;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 900 !important;
    text-transform: uppercase !important;
    letter-spacing: 1.5px !important;
    font-family: 'Prata', serif !important;
  }

  @media only screen and (max-width: 768px) {
    .services-container_header {
      margin-bottom: 0;
    }
  }