.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile {
    display: flex;
    flex-direction: column;
}

.desktop {
    display: none;
}

@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
    
    .desktop {
        display: flex;
    }
}