a {
  color: inherit; }

/* Original reset file */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* Fix the bug that causes body go out of screen border and because of that horizontal scrolling. */
/* https://stackoverflow.com/a/42798283/5184474 */
html,
body {
  position: relative; }

/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body, p {
  margin: 0;
  font-family: "Lato"; }

.img-fluid {
  width: 100%;
  height: auto; }

.pointer {
  cursor: pointer; }

.rounded {
  border-radius: 6px; }

@media only screen and (min-width: 768px) {
  .rounded-desktop {
    border-radius: 6px; } }
html, body {
  display: flex;
  flex-direction: column;
  font-family: 'Prata', serif;
  color: #4b4b4b;
  margin: 0;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 1rem; }

@media only screen and (min-width: 768px) {
  html {
    width: 100%; }

  body {
    width: 100%; } }
.contact-button:hover {
  background-color: black;
  color: white; }

.contact-button {
  width: 6rem;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 0.5rem;
  letter-spacing: 1.5px;
  padding: 1rem;
  border-radius: 2px;
  font-weight: 900;
  text-shadow: none;
  transition: all 150ms ease-in;
  box-shadow: none;
  text-transform: uppercase;
  touch-action: manipulation;
  cursor: pointer;
  margin: auto;
  text-decoration: none;
  text-align: center; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 0.6rem;
  text-transform: uppercase !important;
  letter-spacing: 1.5px !important;
  border-top: 1px solid #E1E0E1;
  padding: 1rem 0 1rem 0;
  height: 5rem;
  margin: auto; }

.footer__signature__column {
  margin: 0 4rem 0 4rem;
  flex-direction: row; }

@media only screen and (max-width: 600px) {
  .footer {
    font-size: 0.3rem;
    padding: 0;
    height: 5rem;
    margin: 0 0.5rem 0 0.5rem; }

  .footer__signature__column {
    margin: 0; } }
.gallery-container {
  display: flex;
  height: 30rem;
  padding: 5rem 0 5rem 0;
  justify-content: space-evenly; }

.gallery__photo {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: center;
  margin: auto;
  flex-grow: 1;
  flex-direction: column;
  position: relative; }

.gallery__name {
  width: 70%;
  padding: 1rem;
  color: white;
  background-color: black;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 1rem; }

@media only screen and (max-width: 600px) {
  .gallery-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 0;
    justify-content: space-evenly; }

  .gallery__photo {
    height: 30vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    margin: auto;
    flex-grow: 1;
    flex-direction: column;
    position: relative; } }
.main-container {
  display: flex;
  margin: auto;
  width: 70%;
  min-height: 95vh;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
  align-content: space-between;
  flex: 1;
  box-sizing: border-box; }

.main-container__header {
  justify-content: flex-start;
  text-align: start;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 5rem;
  margin-top: 1rem;
  font-weight: 900 !important;
  text-transform: uppercase !important;
  letter-spacing: 1.5px !important; }

.main-container__inner-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.main-container__column {
  display: flex;
  flex-direction: column;
  width: 30rem;
  justify-content: start;
  align-items: start;
  margin: 1rem; }

@media only screen and (max-width: 600px) {
  .main-container {
    display: flex;
    margin: auto;
    width: 100%;
    min-height: 95vh;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    align-content: space-between;
    flex: 1;
    box-sizing: border-box; }

  .main-container__header {
    justify-content: flex-start;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-top: 0;
    font-weight: 900 !important;
    text-transform: uppercase !important;
    letter-spacing: 1.5px !important; }

  .main-container__inner-wrap {
    flex-direction: column;
    justify-content: space-between; }

  .main-container__column {
    width: 100%;
    justify-content: start;
    align-items: start;
    margin: 0; } }
.navbar-menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 0.7rem;
  font-weight: 900 !important;
  text-transform: uppercase !important;
  letter-spacing: 0.2em !important;
  font-family: 'Prata', serif !important;
  height: 5rem;
  width: 100%;
  align-items: center; }

.navbar-menu__text {
  color: #6E6E6E;
  text-decoration: none;
  justify-content: center; }

.navbar-menu__text:hover {
  color: #6E6E6E;
  text-decoration: none; }

.navbar-menu__element {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex; }

.navbar-menu__element:hover {
  padding: 1rem;
  border-bottom: 3px solid; }

.logo {
  margin-right: 5rem;
  margin-left: 20rem; }

@media only screen and (max-width: 600px) {
  .navbar-menu {
    font-size: 0.5rem; } }
.reviews {
  display: flex;
  flex-direction: row; }

.reviews-container {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.reviews-header {
  margin: 1rem;
  text-align: center; }

.review {
  margin: 1rem; }

.review__text-container {
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left; }

@media only screen and (max-width: 600px) {
  .reviews {
    flex-direction: column; }

  .reviews-container {
    margin-top: 1rem;
    margin-bottom: 1rem; }

  .reviews-header {
    margin: 0; } }
.send-button {
  width: 6rem;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 0.5rem;
  letter-spacing: 1.5px;
  padding: 0.7rem;
  border-radius: 2px;
  font-weight: 900;
  text-shadow: none;
  transition: all 150ms ease-in;
  box-shadow: none;
  text-transform: uppercase;
  touch-action: manipulation;
  cursor: pointer;
  margin: auto;
  text-decoration: none;
  text-align: center; }

.send-button:hover {
  background-color: black;
  color: white; }

.social-media {
  width: 2rem;
  margin-right: 1rem;
  opacity: 0.6; }

.social-media:hover {
  opacity: 1; }

@media only screen and (max-width: 600px) {
  .social-media {
    width: 1rem;
    margin: 0; } }
.work-with-me-container {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 70%;
  text-align: center;
  margin: auto;
  justify-content: center;
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Prata', serif; }

.work-with-me__header {
  font-weight: 900 !important;
  text-transform: uppercase !important;
  letter-spacing: 1.5px !important;
  padding: 1rem;
  line-height: 1.5rem; }

.work-with-me__paragraph {
  padding: 1rem; }

@media only screen and (max-width: 600px) {
  .navbar-menu {
    font-size: 0.5rem; } }
@media only screen and (max-width: 600px) {
  .work-with-me-container {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem; } }
.bio-container {
  display: flex;
  flex-direction: row; }

.avatar {
  object-fit: cover;
  width: 40%; }

.bio {
  padding: 0 0 0 3rem;
  justify-content: left;
  text-align: left; }

@media only screen and (max-width: 600px) {
  .bio-container {
    flex-direction: column; }

  .avatar {
    object-fit: cover;
    width: 100%; }

  .bio {
    padding: 0;
    justify-content: left;
    text-align: left; } }
.contact-page_my-contacts {
  text-align: left;
  margin: 0 0 5rem 0; }

.contact-page_my-contacts > p {
  margin-top: 0;
  margin-bottom: 1rem; }

.contact-form {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%; }

.contact-form__form {
  display: flex;
  flex-direction: column; }

.contact-form__form > * {
  box-shadow: none;
  height: 2rem;
  margin-bottom: 1rem;
  border-radius: 2px;
  padding-left: 0.5rem; }

.contact-form__message {
  border-radius: 1px;
  margin-bottom: 1rem;
  height: 6rem; }

.map {
  width: 30rem;
  height: 30rem;
  border: none; }

@media only screen and (max-width: 600px) {
  .contact-page_my-contacts {
    text-align: left;
    margin: 0; }

  .map {
    margin: 1rem 0 1rem 0;
    height: 20rem; }

  .contact-page_my-contacts > p {
    margin: 0; } }
.home-page-wrap {
  height: 100%; }

.home-page__main-photo {
  display: flex;
  height: 95vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
  justify-content: center;
  margin: auto; }

.home-page__intro-container {
  font-size: 0.8rem;
  font-weight: 900 !important;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1rem; }

.home-page-bottom {
  min-height: 95vh;
  display: flex;
  margin: auto;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
  align-content: space-between;
  flex: 1;
  box-sizing: border-box; }

.home-page-bottom_intro {
  margin: 10rem;
  justify-content: center;
  text-align: center;
  align-items: center; }

@media only screen and (max-width: 600px) {
  .home-page__main-photo {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    margin: auto;
    flex-grow: 1;
    flex-direction: column;
    position: relative; }

  .home-page-bottom_intro {
    margin: 1rem 0 1rem 0;
    align-items: center; }

  .home-page__intro-container {
    justify-content: center;
    text-align: center; } }
.services-container_header {
  margin-bottom: 2rem; }

.services-list {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-evenly;
  margin: 0 auto; }

.services-list_column {
  display: flex;
  flex-direction: column; }

.service__header {
  display: flex;
  padding: 0.5rem;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 900 !important;
  text-transform: uppercase !important;
  letter-spacing: 1.5px !important;
  font-family: 'Prata', serif !important; }

@media only screen and (max-width: 600px) {
  .services-container_header {
    margin-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
