body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #4b4b4b;
  height: 100%;
  margin: 0;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 900 !important;
  text-transform: uppercase !important;
  letter-spacing: 1.5px !important;
  font-family: 'Lato', sans-serif !important;
  font-family: lato;
  height: 10rem;
  width: 100%;
  align-items: center;
  flex-basis: 25%;
}

.navbar-menu__text {
  color: #4b4b4b;
  text-decoration: none;
}

.navbar-menu__text:hover {
  color: #4b4b4b;
  text-decoration: none;
}

.contact-button__text {
  color: white;
  text-decoration: none;
}

.contact-button__text:hover {
  color: white;
  text-decoration: none;
}

.navbar-menu__element {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-menu__element:hover {
  padding: 1rem;
  border-bottom: 3px solid;
}

.home-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-page__main {
  display: flex;
  flex: 1;
}

.home-page__intro-container {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 900 !important;

}

.gallery-container {
  display: flex;
  flex-wrap: nowrap;
  height: 10rem;
  justify-content: space-evenly;
}
.gallery__elem {
  display: flex;
  min-width: 10rem;
  vertical-align: bottom;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: flex-end;
}

.gallery__elem__photo {
  max-width: auto;
  max-height: auto;

}

.gallery__elem__name{
  padding: 1rem;

}
.work-with-me-container {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  text-align: center; 
  margin: auto;
  justify-content: center;
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  margin: 0 10rem 0 10rem;
}

.work-with-me__header {
  font-size: 1rem;
  font-weight: 900 !important;
  text-transform: uppercase !important;
  letter-spacing: 1.5px !important;
}

.contact-button {
  width: 6rem;
  background: #34b9d7;
  color: white;
  font-size: 0.7rem;
  letter-spacing: 1.5px;
  padding: 0.7rem;
  border-radius: 25px;
  font-weight: 900;
  text-shadow: none;
  transition: all 150ms ease-in;
  box-shadow: none;
  text-transform: uppercase;
  touch-action: manipulation;
  cursor: pointer;
  margin: auto;
}

.send-button {
  width: 6rem;
  background: #34b9d7;
  color: white;
  font-size: 0.7rem;
  letter-spacing: 1.5px;
  padding: 0.7rem;
  border-radius: 25px;
  font-weight: 900;
  text-shadow: none;
  transition: all 150ms ease-in;
  box-shadow: none;
  text-transform: uppercase;
  touch-action: manipulation;
  cursor: pointer;
  margin: auto;
}

.footer {
  display: flex;
  background:#1e1e1e url(/home/lil/webdiv/nikiforov/src/footerBackground.png) repeat;
  height: 6rem;
  justify-content: center;
  align-items: center;
  color: #cdcdcd;
  text-align: center;
  font-size: 1rem;
  }

  .service-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .service-page__main {
    display: flex;
    margin: auto;
    width: 60rem;
    flex: 1;
    flex-direction: row;
    background-color: pink;
    justify-content: center;
    justify-content: space-between;
  }

  .services-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .services-container_header{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 1rem;
  }

.services-list {
  display: flex;
  flex-direction: column;
}

.services-list_row {
  display: flex;
  flex-direction: row;
}
  .service {
    display: flex;
    padding: 0 1rem 0 1rem;
    justify-content: flex-start;
    margin: auto;
    flex-direction: row;
  }

  .service_desription {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;


  }
  .service__header {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 900 !important;
    text-transform: uppercase !important;
    letter-spacing: 1.5px !important;
    font-family: 'Lato', sans-serif !important;
}


.contact-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contact-page__main {
  display: flex;
  margin: auto;
  width: 60rem;
  flex: 1;
  flex-direction: row;
  background-color: pink;
  justify-content: center;
  justify-content: space-between;
}

.contact-page_my-contacts {
  display: flex;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form__input {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.about-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.about-page__main {
  display: flex;
    margin: auto;
    width: 60rem;
    flex: 1;
    flex-direction: row;
    background-color: pink;
    justify-content: center;
    justify-content: space-between;
}

.contact-form__input-area {
  padding: 0.5rem;
}