body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #4b4b4b;
}

.navbar_wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  opacity: 0.5;
  background-color: pink;
  color: white;
  font-family: lato;
  height: 75px;
  width: 1905px;
}



.navbar_short {
  display: flex;
  flex-direction: column;
  background-color: pink;
  color: white;
  font-family: lato;
}

.navbar_menu {
  display: flex;
  justify-content: center;
  flex-basis: 25%;
}

.col {
  padding-left: 10px;
  padding-right: 10px;
}

.name {
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
  font-size: 49px;
}

.intoduction {
  display: flex;
  padding: 50px;
  justify-content: center;
  font-size: 27px;
}

.gallery {
  display: flex;
  flex-wrap: nowrap;
  background-color: purple;
  color: white;
  height: 300px;
  justify-content: space-evenly;
}
.gallery_elem {
  border: 2px solid black;
}

.work_with_me {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center; 
  margin: 0px auto;
  justify-content: center;
  margin: 0px auto;
  font-size: 15px;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  margin-left: 175px;
  margin-right: 175px;
}

.lets_header {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0px;
  margin-bottom: 10px;
  font-weight: 900 !important;
  text-transform: uppercase !important;
  letter-spacing: 1.5px !important;
  font-family: 'Lato', sans-serif !important;
}

.contact_button {
  height: 11px;
  width: 104px;
  margin-left: 4px;
  margin-right: 4px;
  background: #34b9d7;
  font-size: 11px;
  color: white;
    line-height: 1;
    letter-spacing: 1.5px;
    padding: 11px 20px 12px;
    border-radius: 25px;
    font-weight: 900;
    text-shadow: none;
    transition: all 150ms ease-in;
    box-shadow: none;
    text-transform: uppercase;
    touch-action: manipulation;
    cursor: pointer;
    margin: 0px auto;
}

.footer {
  display: flex;
  background:#1e1e1e url(/home/lil/webdev/nikiforov/src/bg2.png) repeat;
  height: 100px;
  justify-content: center;
  align-items: center;
  color: #cdcdcd;
  text-align: center;
  font-size: 15px;
  }